<h1 mat-dialog-title>Ajouter un anneau</h1>
<div mat-dialog-content>
  <form class="full-width" [formGroup]="equipementForm">
    <h2>Informations de base:</h2>
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Image</mat-label>
            <input matInput formControlName="image">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Rareté</mat-label>
            <mat-select formControlName="rarete">
              <mat-option *ngFor="let rarete of raretes" [value]="rarete">{{rarete}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <section>
      <h2>Zone de farm:</h2>
      <ng-container formArrayName="iles">
        <mat-checkbox *ngFor="let ile of iles">{{ile}}</mat-checkbox>
      </ng-container>
    </section>

    <h2>Patchs:</h2>
    <button mat-flat-button color="primary" (click)="addPatch()">
      <mat-icon>add</mat-icon>
      Ajouter un patch
    </button>
    <br>

    <ng-container formArrayName="patchs">
      <ng-container *ngFor="let patchForm of patchs.controls; let i = index">
        <div [formGroupName]="i">
          <h3>Patch</h3>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Version</mat-label>
                  <input matInput required formControlName="version">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Pouvoir</mat-label>
                  <input matInput required formControlName="pouvoir">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Sort</mat-label>
                  <input matInput formControlName="sort">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <h3>Caractéristiques</h3>
          <ng-container formArrayName="caracs">
            <ng-container *ngFor="let caracForm of getCaracs(i).controls; let j = index">
              <div [formGroupName]="j">

                <table class="full-width">
                  <tr>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Taux</mat-label>
                        <input matInput type="number" formControlName="taux">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Effet</mat-label>
                        <input matInput formControlName="effet">
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-mini-fab color="warn" (click)="deleteCarac(i, j)">
                        <mat-icon>
                          delete_forever
                        </mat-icon>
                      </button>
                    </td>
                  </tr>
                </table>


              </div>
            </ng-container>
          </ng-container>

          <button mat-mini-fab color="primary" (click)="addCarac(i)">
            <mat-icon>add</mat-icon>
          </button>

          <h3>Dons</h3>
          <ng-container formArrayName="dons">
            <ng-container *ngFor="let donForm of getDons(i).controls; let j = index">
              <div [formGroupName]="j">
                <table class="full-width">
                  <tr>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nom">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Cout</mat-label>
                        <input matInput type="number" formControlName="cout">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Effet</mat-label>
                        <input matInput formControlName="effet">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Sort</mat-label>
                        <input matInput formControlName="sort">
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-mini-fab color="warn" (click)="deleteDon(i, j)">
                        <mat-icon>
                          delete_forever
                        </mat-icon>
                      </button>
                    </td>
                  </tr>
                </table>

              </div>
            </ng-container>
          </ng-container>

          <button mat-mini-fab color="primary" (click)="addDon(i)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
  <button mat-raised-button color="primary">Enregistrer</button>
</div>