<div class="container">
  <mat-form-field>
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let sort">
        <img src="{{ baseHref }}/assets/img/sorts/{{ sort.image }}.jpg" alt="{{ sort.nom }}" style="height: 5em" />
        <br />{{ sort.nom }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Element">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Élément</th>
      <td mat-cell *matCellDef="let sort">
        {{ sort.element }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
      <td mat-cell *matCellDef="let sort">
        {{ sort.source }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Patch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Patch</th>
      <td mat-cell *matCellDef="let sort">
        <span matTooltip="Ajout: {{ sort.patchs[sort.patchs.length - 1].version }}" matTooltipDisabled="{{ sort.patchs.length }} > 0 ? disabled : null">
          Patch: {{ sort.patchs[0].version }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Cout">
      <th mat-header-cell *matHeaderCellDef>Coût</th>
      <td mat-cell *matCellDef="let sort">{{ sort.patchs[0].cout }} <img src="{{ baseHref }}/assets/img/utils/mana.png" alt="PA" style="height: 0.9em" /></td>
    </ng-container>

    <ng-container matColumnDef="Gain">
      <th mat-header-cell *matHeaderCellDef>Gain</th>
      <td mat-cell *matCellDef="let sort">
        <mat-list>
          <mat-list-item *ngFor="let gain of sort.patchs[0].gains | keyvalue">
            {{ gain.value }} <img src="{{ baseHref }}/assets/img/utils/{{ gain.key }}.png" style="height: 0.9em" />
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Effet">
      <th mat-header-cell *matHeaderCellDef>Effet</th>
      <td mat-cell *matCellDef="let sort">
        <span [innerHTML]="highlight(sort.patchs[0].effet)"></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Dons">
      <th mat-header-cell *matHeaderCellDef>Dons</th>
      <td mat-cell *matCellDef="let sort">
        <mat-list>
          <mat-list-item *ngFor="let don of sort.patchs[0].dons">
            <span matListItemTitle>{{ don.nom }}</span>
            <span matListItemLine [innerHTML]="highlight(don.effet)"></span>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let sort">
        <button mat-icon-button color="primary" (click)="openCard(sort)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openDialog(sort, sorts)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée ne correspond au filtre "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator [length]="dataLength" [pageSize]="100" [pageSizeOptions]="[25, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>
