mat-card {
  width: 100%;
}

table {
  width: 100%;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.mat-Commun {
  background-color: brown;
  color: ghostwhite !important;
}

.mat-Rare {
  background-color: dodgerblue;
  color: ghostwhite !important;
}

.mat-Krosmique {
  background-color: blueviolet;
  color: ghostwhite !important;
}

.mat-Infinite {
  background-color: gold;
}
