<div class="container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Patch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Patch</th>
      <td mat-cell *matCellDef="let patch">
        {{ patch.version }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Cout">
      <th mat-header-cell *matHeaderCellDef>Cout</th>
      <td mat-cell *matCellDef="let patch">
        <mat-list>
          <mat-list-item *ngFor="let cout of patch.couts | keyvalue : ordreCouts">
            {{ cout.value }} <img src="{{ baseHref }}/assets/img/utils/{{ cout.key }}.png" style="height: 0.9em" />
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Stats">
      <th mat-header-cell *matHeaderCellDef>Stats</th>
      <td mat-cell *matCellDef="let patch">
        <mat-list>
          <mat-list-item> {{ patch.pv }} <img src="{{ baseHref }}/assets/img/utils/pv.png" alt="PV" style="height: 0.9em" /> </mat-list-item>
          <mat-list-item> {{ patch.at }} <img src="{{ baseHref }}/assets/img/utils/at.png" alt="AT" style="height: 0.9em" /> </mat-list-item>
          <mat-list-item> {{ patch.cc }} <img src="{{ baseHref }}/assets/img/utils/cc.png" alt="CC" style="height: 0.9em" /> </mat-list-item>
          <mat-list-item> {{ patch.pm }} <img src="{{ baseHref }}/assets/img/utils/pm.png" alt="PM" style="height: 0.9em" /> </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Effet">
      <th mat-header-cell *matHeaderCellDef>Effet</th>
      <td mat-cell *matCellDef="let patch">
        <span [innerHTML]="highlight(patch.effet)"></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Caractéristiques">
      <th mat-header-cell *matHeaderCellDef>Caractéristiques</th>
      <td mat-cell *matCellDef="let patch">
        <mat-list>
          <mat-list-item *ngFor="let caracteristique of patch.caracteristiques">
            <span [innerHTML]="'+' + caracteristique.taux + highlight(caracteristique.effet)"></span>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Dons">
      <th mat-header-cell *matHeaderCellDef>Dons</th>
      <td mat-cell *matCellDef="let patch">
        <mat-list>
          <mat-list-item *ngFor="let don of patch.dons">
            <span matListItemTitle
              >{{ don.nom }} [{{ don.cout }}
              <img src="{{ baseHref }}/assets/img/utils/rune_de_compagnon.png" alt="Rune de compagnon" style="height: 0.9em" />]</span
            >
            <span matListItemLine [innerHTML]="highlight(don.effet)"></span>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="dataLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
</div>
